<div *ngIf="hasFollowers;else noFollowers">
    <div class="followers">
        <div *ngFor="let follow of user.followers"class="follower" tabindex="0" (keydown)="travelKeyboard($event)">
            <div class="user_icon">
                <img [src]="follow.profilePicture" alt="User Icon" style="width: 50px;height: auto;border-radius: 50%;">
            </div>
            {{follow.username}}
        </div>
        <!--<div class="follower" tabindex="0" (keydown)="help($event)">
            <div class="user_icon">
                <img src="../../../assets/user-icon.png" alt="User Icon" style="width: 50px;height: auto;">
            </div>
            follower
        </div>
        <div class="follower" tabindex="0" (keydown)="help($event)">
            <div class="user_icon">
                <img src="../../../assets/user-icon.png" alt="User Icon" style="width: 50px;height: auto;">
            </div>
            follower
        </div>
        <div class="follower" tabindex="0" (keydown)="help($event)">
            <div class="user_icon">
                <img src="../../../assets/user-icon.png" alt="User Icon" style="width: 50px;height: auto;">
            </div>
            follower
        </div>-->
      </div>
  </div>

  <ng-template #noFollowers>
    <div *ngIf="user" class="noFollowers">
       <h2> O utilizador <span class="highlightUser">{{user.username}}</span> ainda não tem seguidores! </h2>
    </div>
 </ng-template>